<footer class="footer">

    <div class="footer-top">

        <!-- COLUMN 1 -->
        <div class="footer-col">
            <h3>Company Info</h3>

            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press Releases</a></li>
                <li><a href="#">Sustainability Practices</a></li>
            </ul>
        </div>

        <!-- COLUMN 2 -->
        <div class="footer-col">
            <h3>Customer Support</h3>

            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Help Center (FAQs)</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Return & Refund Policy</a></li>
                <li><a href="#">Shipping Information</a></li>
            </ul>
        </div>

        <!-- LOGO -->
        <div class="footer-logo">
            <img src="assets/images/deal-logo.svg" alt="logo">
        </div>

        <!-- COLUMN 3 -->
        <div class="footer-col">
            <h3>Explore</h3>

            <ul>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Bestsellers</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Deals & Promotions</a></li>
            </ul>
        </div>

        <!-- COLUMN 4 -->
        <div class="footer-col">
            <h3>Legal</h3>

            <ul>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Accessibility Statement</a></li>
                <li><a href="#">Return & Refund Policy</a></li>
            </ul>

            <div class="social-links">

                <h4>Connect with us</h4>

                <div class="icons">

                    <a href="#">
                        <img src="../../../../assets/images/fb.svg" alt="">
                    </a>

                    <a href="#">
                        <img src="../../../../assets/images/Instagram.svg" alt="">
                    </a>

                    <a href="#">
                        <img src="../../../../assets/images/twit.svg" alt="">
                    </a>

                    <a href="#">
                        <img src="../../../../assets/images/Linkedin.svg" alt="">
                    </a>

                </div>

            </div>

        </div>

    </div>
    <div class="newsletter">

        <h3>Newsletter Signup</h3>

        <div class="user-input search-input">
            <mat-form-field>
                <input matInput placeholder="Enter Your Email Address" />
                <button mat-icon-button matSuffix>
              
              Subscribe
            </button>
            </mat-form-field>
        </div>

    </div>

    <div class="footer-bottom">

        <p>© 2025 Dealport. All rights reserved</p>

        <p>Trusted Seller Certifications by SSL Secure</p>

    </div>

</footer>